.btn {
  padding: 20px 30px;

  border: unset;
  border-radius: 5px;

  text-transform: uppercase;
  text-decoration: none;

  background-color: unset;

  cursor: pointer;
}

.link-btn {
  display: inline-block;
}

@mixin btn($name, $color, $hover-color) {
  .btn-#{$name} {
    background-color: $color;

    &:hover {
      background-color: $hover-color;
    }
  }
}

@mixin btn-outline($name, $color, $text-color, $hover-text-color) {
  .btn-outline-#{$name} {
    border: 1px solid $color;

    color: $text-color;

    &:hover {
      color: $hover-text-color;

      background-color: $color;
    }
  }
}

.download-button {
  padding: 16px 40px;
  border-radius: 32px;

  text-transform: none;
}

@include btn('green', $green, $dark-green);
@include btn('red', $red, $dark-red);
@include btn('purple', $purple, $dark-purple);
@include btn-outline('white', $white, $white, $black);
@include btn-outline('dark-gray', $dark-gray, $dark-gray, $black)
