.footer-section {
  width: 100%;

  white-space: nowrap;

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  a,
  .menu-item {
    font-size: 16px;
    line-height: 24px;
  }
}

.icon {
  cursor: pointer;
}

.footer-splitter {
  margin: 0;

  border-bottom: 1px solid $dark-gray;
}

.footer-nav {
  margin: -8px;

  li {
    margin: 8px;
  }
}

@media (min-width: 1023px) {
  .footer-section {
    flex-wrap: nowrap;
  }
}
