.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2 {
  grid-template-columns: repeat(auto-fit, calc(50% - 50px));
}

.row-gap-25 {
  row-gap: 25px;
}

.column-gap-50 {
  column-gap: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0;

  padding: 0 20px;
}

.row-m-25 {
  margin: -25px;
}

.row-mx-12 {
  margin-right: -12px;
  margin-left: -12px;
}

.row-mx-25 {
  margin-right: -25px;
  margin-left: -25px;
}

@media screen and (min-width: 769px) {
  .grid-md-2 {
    grid-template-columns: repeat(auto-fit, calc(50% - 50px));
  }

  .grid-md-4 {
    grid-template-columns: repeat(auto-fit, calc(25% - 50px));
  }

  .flex-md-row {
    flex-direction: row;
  }

  .row-md-reverse {
    flex-direction: row-reverse;
  }
}
