@font-face {
  font-weight: normal;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: bold;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #cacaca;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  line-height: 45px;
  margin: 0;
}

h2 {
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 16px;
}

.container {
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

@media (min-width: 769px) {
  h1 {
    font-size: 60px;
    line-height: 90px;
  }

  h2 {
    font-size: 38px;
    line-height: 57px;
  }

  h3 {
    font-size: 24px;
    line-height: 45px;
    font-weight: normal;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .container {
    max-width: 290px;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .container {
    max-width: 345px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .container {
    max-width: 395px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 738px;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .container {
    max-width: 994px;
  }
}
@media (width: 414px) {
  .container {
    max-width: 374px;
  }
}
@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }
}
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.p-absolute {
  position: absolute;
}

.fw-bold {
  font-weight: bold;
}

.align-items-center {
  align-items: center;
}

.m-0-auto {
  margin: 0 auto;
}

.mx-12 {
  margin: 0 12px;
}

.ml-16 {
  margin-left: 16px;
}

.m-25 {
  margin: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.my-64 {
  margin: 64px 0;
}

.mb-200 {
  margin-bottom: 200px;
}

.pt-100 {
  padding-top: 100px;
}

.py-200 {
  padding: 200px 0;
}

.fz-11 {
  font-size: 11px;
}

.fz-16 {
  font-size: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0;
}

.row-mx-12 {
  margin: 0 -12px;
}

.row-mx-25 {
  margin: 0 -25px;
}

.bg-dark {
  background-color: #3c3b3d;
}

.bg-banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.bg-subscribe-1 {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-subscribe-2 {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-subscribe-3 {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.bg-unset {
  background-color: unset;
}

.c-white {
  color: #fff;
}

.c-dark-gray {
  color: #cacaca;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 0.8rem;
}

header {
  top: 25px;
  right: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.logo {
  text-align: center;
  text-decoration: none;
}
.logo:hover {
  color: #cacaca;
}
.logo img {
  width: 24px;
}

.menu {
  padding: 0;
  list-style-type: none;
}
.menu a {
  color: #cacaca;
  text-decoration: none;
}
.menu a:hover,
.menu .active {
  color: #fff;
}

.search {
  width: 100%;
  height: 25px;
  padding: 5px 10px;
  border: unset;
  border-radius: 50px;
}
.search::placeholder {
  text-transform: uppercase;
}

@media (min-width: 769px) {
  header .container,
.menu {
    flex-direction: row;
    align-items: center;
  }

  .menu {
    margin: 0 -12px;
  }
  .menu li {
    margin: 0 12px;
  }

  .menu-nav {
    margin-left: 90px;
  }

  .search {
    width: unset;
    margin-left: auto;
  }
}
input {
  border: unset;
  outline: none;
}

.banner-form {
  max-width: 570px;
}
.banner-form input {
  min-width: 270px;
  min-height: 50px;
  color: #fff;
}

.text-input {
  margin-bottom: 1.5rem;
  padding-left: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.text-input::placeholder {
  color: #fff;
}

.btn {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: unset;
  cursor: pointer;
}

.btn-green {
  background-color: #34c176;
}
.btn-green:hover {
  background-color: #2db36b;
}

.btn-outline-white {
  border: 1px solid #fff;
  color: #fff;
}
.btn-outline-white:hover {
  color: #08020d;
  background-color: #fff;
}

.card {
  margin: 25px;
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.card-price {
  display: flex;
  justify-content: center;
  font-size: 32px;
  line-height: 1em;
}
.card-price-value {
  font-size: 2em;
  line-height: 1em;
}

/*# sourceMappingURL=style.css.map */
