.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.p-absolute {
  position: absolute;
}

.fw-bold {
  font-weight: bold;
}

.align-items-center {
  align-items: center;
}

.m-0-auto {
  margin: 0 auto;
}

.mx-12 {
  margin: 0 12px;
}

.ml-16 {
  margin-left: 16px;
}

.m-25 {
  margin: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.my-64 {
  margin: 64px 0;
}

.mb-200 {
  margin-bottom: 200px;
}

.pt-100 {
  padding-top: 100px;
}

.py-200 {
  padding: 200px 0;
}

.fz-11 {
  font-size: 11px;
}

.fz-16 {
  font-size: 16px;
}
