.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.p-absolute {
  position: absolute;
}

.fw-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.align-items-center {
  align-items: center;
}

.ml-16 {
  margin-left: 16px;
}

.fz-11 {
  font-size: 11px;
}
