.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.p-absolute {
  position: absolute;
}

.fw-bold {
  font-weight: bold;
}

.align-items-center {
  align-items: center;
}

.ml-16 {
  margin-left: 16px;
}

.m-0-auto {
  margin: 0 auto;
}

.p-0 {
  padding: 0;
}

.fz-11 {
  font-size: 11px;
}
