@mixin bg-color($name, $color) {
  .bg-#{$name} {
    background-color: $color;
  }
}

@mixin bg-image($name, $url) {
  .bg-#{$name} {
    background-image: url($url);
    background-position: center;
    background-size: cover;
  }
}

@include bg-color('dark', $dark);
@include bg-image('banner', '../images/banner.png');
@include bg-image('subscribe-1', '../images/subscribe_1.png');
@include bg-image('subscribe-2', '../images/subscribe_2.png');
@include bg-image('subscribe-3', '../images/subscribe_3.png');

.bg-unset {
  background-color: unset;
}
