// $min: $max
$viewport-widths: (
  320px: 374px, // Mobile M
  375px: 424px, // Mobile L
  425px: 767px, // Tablet
  768px: 1023px, // Laptop
  1024px: 1239px, // Laptop L
);

@font-face {
  font-weight: normal;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-weight: bold;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
}

@mixin heading($fz, $lh) {
  font-size: $fz;
  line-height: $lh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  overflow-x: hidden;

  color: $dark-gray;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

  background-color: $black;
}

h1,
h2,
h3,
h4 {
  color: $white;

  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  @include heading(30px, 45px);
  margin: 0;
}

h2 {
  @include heading(18px, 27px);
  margin: 0;
}

h3 {
  @include heading(16px, 24px);
}

p {
  font-size: 16px;
}

.container {
  margin: 0 auto;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;

  overflow: hidden;

  white-space: nowrap;

  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

@media (min-width: 769px) {
  h1 {
    @include heading(60px, 90px);
  }

  h2 {
    @include heading(38px, 57px);
  }

  h3 {
    @include heading(24px, 45px);
    font-weight: normal;
  }
}

@each $min, $max in $viewport-widths {
  @media (min-width: $min) and (max-width: $max) {
    .container {
      max-width: $min - 30px;
    }
  }
}

// !!! FOR TESTS. REMOVE AFTER COMPLETION.

@media (width: 414px) {
  .container {
    max-width: 374px;
  }
}

@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }
}
