@font-face {
  font-weight: normal;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-weight: bold;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
}

@mixin heading($fz, $lh) {
  margin: 0;

  color: $white;
  font-weight: bold;
  font-size: $fz;
  line-height: $lh;
  text-transform: uppercase;
}

@mixin container-width($lower, $upper) {
  @media (min-width: $lower) and (max-width: $upper) {
    .container {
      max-width: $lower;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: $dark-gray;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

  background-color: $black;
}

h1 {
  @include heading(30px, 45px);
}

h2 {
  @include heading(18px, 27px);
}

p {
  font-size: 16px;
}

.container {
  margin: 0 auto;
  padding: 200px 0;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;

  overflow: hidden;

  white-space: nowrap;

  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

@media (min-width: 769px) {
  h1 {
    font-size: 60px;
    line-height: 90px;
  }

  h2 {
    font-size: 38px;
    line-height: 57px;
  }
}

// Mobile M
@include container-width(320px, 374px);

// Mobile L
@include container-width(375px, 424px);

// Tablet
@include container-width(425px, 767px);

// Laptop
@include container-width(768px, 1023px);

// Laptop L
@include container-width(1024px, 1239px);

@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }
}
