@font-face {
  font-weight: normal;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-weight: bold;
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
}

body {
  color: $dark-gray;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

  background-color: $black;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

@media (min-width: 769px) {
  h1 {
    font-size: 60px;
    line-height: 90px;
  }

  h2 {
    font-size: 38px;
    line-height: 57px;
  }
}
