.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 0;
}

.row-m-25 {
  margin: -25px;
}

.row-mx-12 {
  margin: 0 -12px;
}

.row-mx-25 {
  margin: 0 -25px;
}

@media (min-width: 769px) {
  .row-lg-reverse {
    flex-direction: row-reverse;
  }
}
