@mixin color($name, $color) {
  .c-#{$name} {
    color: $color;
  }
}

@include color('white', $white);
@include color('dark-gray', $dark-gray);

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 0.8rem;
}
